<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Contact Us</a>
    </li>
  </ul>
</nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Form Events and Observables</h2>
      <br />
      <div class="form-group">
        <label for="txtStockPrice">Stock Price: </label>
        <input type="text" class="form-control" id="txtStockPrice" placeholder="Price" [formControl]="searchInput" />
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12" id="csp">
      <h4 class="txt-bold">Results: {{ convertedStockPrice }}</h4>
    </div>
  </div>
</div>

<router-outlet></router-outlet>